<!DOCTYPE HTML>
<html>
<head>
<title>Alarms</title>
</head>
<body>
<h1>Set Alarms</h1>
<table id = "alarmTable">
    <tr>
        <th>Time</th>
        <th>Active days</th>
        <th>Repeating</th>
    </tr>
</table>
<script>
function loadJSON(path, success, error) {
  var xhr = new XMLHttpRequest();
  xhr.onreadystatechange = function () {
    if (xhr.readyState === 4) {
      if (xhr.status === 200) {
        success(JSON.parse(xhr.responseText));
      }
      else {
        error(xhr);
      }
    }
  };
  xhr.open('GET', path, true);
  xhr.send();
}

loadJSON("alarms", myData,'json');
function myData(alarmList)
{
    //console.log(alarmList[0]);
    //console.log(alarmList[2].days)
    var alarm = '';
    let text = document.getElementById("alarmTable").innerHTML;
    text = "<table>" + text;
    for (let i in alarmList){
       text += `<tr><td> ${alarmList[i].time} </td>`;
       text += `<td> ${alarmList[i].activeDays} </td>`;
       text += `<td> ${alarmList[i].repeat} </td>`;
       text += `<td> <button name="deleteAlarm" ${alarmList[i].alarmID}> 🗑️ </button> </td> </tr>`;
    }
    text += "</table>"
    document.getElementById("alarmTable").innerHTML = text;

}

//deleteAlarm(alarm) {
//    const path = `http://localhost:5000/delete/${alarmID}`;
//    axios.delete(path)
//    .then(() => {
//        this.message = 'Alarm deleted';
//        this.showMessage = true;
//    }

</script>
</body>
</html>
