<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <v-app>
      <v-main>
      <li v-for="alarm in alarmList" :key=alarm.alarmID>
        <v-card max-width = "600" outlined>
          <v-card-title> <v-btn elevation="0" text large class="text-h5"> [[  alarm.time  ]] </v-btn> </v-card-title>
          <v-card-text> <span v-if=alarm.activeDays.includes('Monday')> Mon </span>
          <span v-if=alarm.activeDays.includes('Tuesday')> Tue </span>
          <span v-if=alarm.activeDays.includes('Wednesday')> Wed </span>
          <span v-if=alarm.activeDays.includes('Thursday')> Thu </span>
          <span v-if=alarm.activeDays.includes('Friday')> Fri </span>
          <span v-if=alarm.activeDays.includes('Saturday')> Sat </span>
          <span v-if=alarm.activeDays.includes('Sunday')> Sun </span>
          </v-card-text>
          <v-btn @click="deleteAlarm(alarm.alarmID)"> Delete </v-btn>
        </v-card>
      </li>
      <v-dialog v-model="dialog" width="auto">

        <template v-slot:activator="{ on }">
          <v-btn
          class = "justify-content-center"
          elevation="0"
          fab
          outlined
          large
          bottom
          fixed
          v-on="on"
        >
        <v-icon>mdi-plus </v-icon>
        </v-btn>
        </template>
        <v-container>
        <v-row>
        <v-time-picker
        format="24hr"
        v-model="newAlarm"
        >
        </v-row>
        <v-row>
<!--        <v-btn  fab x-small value="Monday" v-model="newDays">
        M </v-btn>
        <v-btn  fab x-small value="Tuesday" v-model="newDays">
        T </v-btn>-->
        <v-btn-toggle
          v-model="newDays"
          multiple
          mandatory
          fab
          x-small
          density="comfortable"
        >
        <v-btn
        text
        outlined
        small
        fab
        icon
        value=128
        >
        M
        </v-btn>
        <v-btn
        text
        outlined
        small
        fab
        value=64
        >
        T
        </v-btn>
        <v-btn
        text
        outlined
        small
        fab
        value=32
        >
        W
        </v-btn>
        <v-btn
        text
        outlined
        small
        fab
        value=16
        >
        T
        </v-btn>
<v-btn
        text
        outlined
        small
        fab
        value=8
        >
        F
        </v-btn>
        <v-btn
        text
        outlined
        small
        fab
        value=4
        >
        S
        </v-btn>
        <v-btn
        text
        outlined
        small
        fab
        value=2
        >
        S
        </v-btn>
        </v-btn-toggle>
        </v-row>
        <v-row>

          <v-btn
          text
          @click="dialog = false"
          >
          Cancel
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn
          text
          @click="addAlarm(newAlarm, newDays), loadAlarms()"
          >
          Save
          </v-btn>
          </v-time-picker>
          </v-row>
              <pre class="pt-2">{{ newDays }}</pre>
          </v-container>

      </v-dialog>
          </v-main>

    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
    var vm = new Vue({
      el: '#app',
      delimiters: ['[[', ']]'],
      vuetify: new Vuetify(),
      data() {
        return {
        time:'00:00',
        newAlarm:'00:00',
        newDays: [],
        dialog: false,
        alarmList: [],
        alarmSocket: null
        }
      },
      mounted() {
        this.loadAlarms();
        this.alarmSocket.onmessage = function(event) {
          console.log(event.data);
          let newAlarms = new Array(JSON.parse(event.data));
          vm.alarmList = newAlarms[0];
          console.log(vm.alarmList);
        }
        this.alarmSocket.onopen = function(event) {
          console.log(event);
          console.log("Successfully connected");
        }
        // setInterval(function () {
        //   this.loadAlarms();
        // }.bind(this), 30000);
      },
      created: function() {
        console.log("starting connection")
        this.alarmSocket = new WebSocket("ws://" + window.location.host + "/alarmSocket");

      },
      methods: {
      // Currently only outputs to console, needs change of format before
      // sending to database
        async addAlarm(alarmTime, alarmDays) {
          console.log(alarmTime);
          console.log(alarmDays);
          console.log(JSON.stringify({
            time: alarmTime,
            activeDays: 128,
            //repeat: "False",
            radio: 0,
            }))
          var addAlarmForm = new FormData
          addAlarmForm.append("alarmTime", alarmTime);
          addAlarmForm.append("days", alarmDays);
          fetch("./add", {
            method: "POST",
            body: addAlarmForm,
          });
        },
        async deleteAlarm(alarmID) {
          console.log(alarmID);
          var deleteAlarmForm = new FormData();
          deleteAlarmForm.append("alarmID", alarmID);
          fetch("./delete", {
            method: "POST",
            body: deleteAlarmForm,
          })},

        async loadAlarms(){
          const response = await fetch("./alarms");
          const decodedJSON = await response.json();
          vm.alarmList = decodedJSON;
          }
          },
  })
  </script>
</body>
</html>
